html {
  margin: 0;
  padding: 0;
}

body {
  margin: 100px auto 0 auto;
  width: 80%;
  text-align: center;
}

canvas {
  margin: auto;
  top:0;
  left:0;
  position: absolute;
  z-index: -1;
}

.title {
  padding: 5px;
  font-size: 50px;
  color: white;
}

text {
  font-size: 25px;
  padding: 25px;
  color: white;
}
